[db]
url = "mysql://mangos:mangos@localhost:3306/realmd"

[geoip]
enabled = true

[geoip.whitelist]
countries = []
continents = []

[geoip.blacklist]
countries = []
continents = []

[recaptcha]
secret = ""
