*:focus {
    outline: none;
}

@font-face {
    font-family: 'Friz Quadrata';
    src: url('FrizQuadrataTT.woff2') format('woff2'),
        url('FrizQuadrataTT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Arial Narrow";
    background-color: #0D0D0D;
}

.grecaptcha-badge { 
    visibility: hidden;
}

.header-image {
    position: fixed;
    top: 0;

    background-image: url(tirisfal.jpg);

    background-size: cover;
    background-position: bottom;

    -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    width: 100vw;
    height: 40vh;

    @supports (background-image: url(tirisfal.webp)) {
        background-image: url(tirisfal.webp);
    }
}

.centered {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.formWrapper {
    z-index: 3;
    text-align: center;

    background-color: #262523;

    border: 8px solid white;
    border-image-source: url(border.png);
    border-image-slice: 8 8;
    border-image-repeat: round;
    border-radius: 8px;
}

.loginRegistration {
    width: 16em;
}

.accountManagement {
    width: 40em;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2em;

    padding: 1em 2em 0.5em 2em;
}

label, h1, h2, h3, h4, h5 {
    display: block;

    font-family: "Friz Quadrata";
    text-shadow: 1px -1px #000000;
    color: #F2D4AE;

    margin: 0;
}

label {
    font-size: 16px;
}

input {
    font-family: "Arial Narrow";
    font-size: 14px;

    border: 8px solid white;
    border-image-source: url(border.png);
    border-image-slice: 8 8;
    border-image-repeat: round;
    border-radius: 8px;

    width: 11em;

    background-color: #11010122 !important;
    color: #fff;
}

button {
    font-family: "Friz Quadrata";
    font-size: 16px;
    padding: 0.25em 0.75em;
    border: 3px solid black;
    border-radius: 5px;
    background: url(button_background.jpg), rgba(0, 0, 0, 0.169);
    background-repeat: repeat;
    background-blend-mode: multiply;
}

button.submit {
    text-align: center;
    margin: -2em auto 0 auto;
}

.success {
    color: #448FF2;
}

.error {
    color: #9e2012;
}
