{% extends "base.html" %}

{% block script %}
function onSubmit(token) {
    document.getElementById("change-password-form").submit();
}
{% endblock %}

{% block content %}
    <div class="centered">
        <div class="tooltip-border form-wrapper">
            <h2>Change password</h2>

            <form action="/change_password" id="change-password-form" method="POST" class="form">
                <div class="input-wrapper">
                    <label for="current_password">Current password</label> 
                    <input class="bordered-box input" type="password" name="current_password" id="current_password" required>
                </div>
                <div class="input-wrapper">
                    <label for="new_password">New password</label> 
                    <input class="bordered-box input" type="password" name="new_password" id="new_password" required>
                </div>
                <div class="input-wrapper">
                    <label for="repeat_new_password">Repeat new password</label> 
                    <input class="bordered-box input" type="password" name="repeat_new_password" id="repeat_new_password" required>
                </div>

                <div>
                    <button class="g-recaptcha submit" 
                    data-sitekey="6Ld5fe0oAAAAAO9_T7rPsQjYBCeaekLWCiiM6pwg" 
                    data-callback='onSubmit' 
                    data-action='submit'>
                        Change password
                    </button>
                </div>
            </form>

            {% if error.is_some() %}
                <div class="error">{{ error.as_ref().unwrap() }}</div>
            {% endif %}
        </div>
    </div>
    <script src="https://www.google.com/recaptcha/api.js"></script>
{% endblock %}
