{% extends "base.html" %}

{% block script %}
function onSubmit(token) {
    document.getElementById("{% block endpoint %}{% endblock %}-form").submit();
}
{% endblock %}

{% block content %}
    <div class="centered">
        <div class="tooltip-border form-wrapper login-registration">
            <h2>
                {% block title %}{% endblock %}
            </h2>
            {% block form %}
            {% endblock %}
            {% block response %}
            {% endblock %}
        </div>
    </div>
    <script src="https://www.google.com/recaptcha/api.js"></script>
{% endblock %}
