{% extends "base.html" %}

{% block script %}
function onSubmit(token) {
    document.getElementById("{% block endpoint %}{% endblock %}-form").submit();
}
{% endblock %}

{% block content %}
    <div class="centered">
        <div class="formWrapper loginRegistration">
            <h2>
                {% block title %}{% endblock %}
            </h2>
            <form action="/{% block endpoint %}{% endblock %}" id="{% block endpoint %}{% endblock %}-form" method="POST" class="form">
                <div>
                    <label for="username">Account Name</label> 
                    <input class="input" type="text" name="username" id="username" required>
                </div>
                <div>
                    <label for="password">Account Password</label> 
                    <input class="input" type="password" name="password" id="password" required>
                </div>
                <div>
                    <button class="g-recaptcha submit" 
                    data-sitekey="6Ld5fe0oAAAAAO9_T7rPsQjYBCeaekLWCiiM6pwg" 
                    data-callback='onSubmit' 
                    data-action='submit'>
                        {% block title %}{% endblock %}
                    </button>
                </div>
            </form>
            {% block response %}
            {% endblock %}
        </div>
    </div>
    <script src="https://www.google.com/recaptcha/api.js"></script>
{% endblock %}
